<main>
    <div>
        <h4>Categories</h4>
        <% get_categories.each do |category|%>
            <a class="category_btns" href="/?category=<%= category %>"><%= category %></a>
        <% end %>
    </div>
    <div>
        <div>
            <p class="pager" > Page: 
                <% 1.upto number_of_pages(all_recipes(category).count, 5)  do |n|  %>
                    <a class="pages" href="/?page_num=<%= n%>&category=<%= category %>"><%= n%></a>
                <% end %>
                ( <%= all_recipes(category).count%> recipes )
            </p>
        </div>
        <section>
            <% all_recipes(category, recipes_pp, recipes_pp*(page_num.to_i - 1) ).each do |_recipe| %>
                <article>
                    <h3><%= _recipe["name"]%></h3>
                    <h5><%= _recipe["category"]%></h5>
                    <form class="recipe_btn" action="/userrecipe?recipe_id=<%= _recipe["id"] %>" method="post">
                        <button>+ My list</button>
                    </form>
                    <img src="<%= _recipe["image_url"]%>" alt="">
                </article>
            <% end %>
        </section>
    </div>
</main>